<app sy-siteName="Register">
<div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1>Sign Up</h1>
        </div>
        <form autocomplete="off" class="fs-form fs-form-full">
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
            <ol class="fs-fields">
                <li class="fs-current">
                    <input class="fs-anim-lower" name="username" type="text" placeholder="Username.." required>
					<br/><br/>
                    <input class="fs-anim-lower" name="email" type="text" placeholder="Email.." required>
					<br/><br/>
                    <input class="fs-anim-lower" name="password" type="password" placeholder="Password.." required>
					<br/><br/>
                    <input class="fs-anim-lower" name="password2" type="password" placeholder="Confirm Password.." required>
                </li>
            </ol>
			<br/><br/>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button type="button" sy-action="register" sy-action-values="username,email,password,password2">Sign Up</button>
			</div>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button type="button" sy-load="public/login" sy-action-values="username,password">Already have an account</button>
			</div>
        </form>
    </div>
</app>