<app sy-siteName="Register">
<div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1>Sign Up</h1>
        </div>
        <form autocomplete="off" class="fs-form fs-form-full">
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
            <ol class="fs-fields">
                <li class="fs-current">
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="username" type="text" />
						<label class="input__label input__label--isao" data-content="Type in a username">
							<span class="input__label-content input__label-content--isao">Username</span>
						</label>
					</span>
					<br/>
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="email" type="text" />
						<label class="input__label input__label--isao" data-content="Type in your email">
							<span class="input__label-content input__label-content--isao">Email</span>
						</label>
					</span>
					<br/>
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="password" type="password" />
						<label class="input__label input__label--isao" data-content="Type in a password">
							<span class="input__label-content input__label-content--isao">Password</span>
						</label>
					</span>
					<br/>
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="password2" type="password" />
						<label class="input__label input__label--isao" data-content="Confirm the password">
							<span class="input__label-content input__label-content--isao">Confirm Password</span>
						</label>
					</span>
                </li>
            </ol>
			<br/><br/>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button class="btn btn-1 btn-1c" type="button" sy-action="register" sy-action-values="username,email,password,password2">Sign Up</button>
			</div>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button class="btn btn-1 btn-1c" type="button" sy-load="public/login" sy-action-values="username,password">Already have an account</button>
			</div>
        </form>
    </div>
</app>