<app sy-requireServer="true" sy-siteName="Home">
<div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1>Hello %name%!</h1>
            <h1>Your latest ip is %last_ip%!</h1>
            <h2>Your name is %name% and your username is %username%</h2>
			<br/>
        </div>
        <form class="fs-form fs-form-full">
			<div class="button-container">
				<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
					<button class="btn btn-1 btn-1c" type="button" sy-load="private/settings">Account Settings</button>
				</div>
				<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
					<button class="btn btn-1 btn-1c" type="button" sy-action="logout">Logout</button>
				</div>
			</div>
        </form>
    </div>
</app>