<app sy-siteName="Settings">
<div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1>Account Settings</h1>
        </div>
        <form autocomplete="off" class="fs-form fs-form-full">
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
            <ol class="fs-fields">
                <li class="fs-current">
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="cpassword" type="password" />
						<label class="input__label input__label--isao" data-content="Type in your current password">
							<span class="input__label-content input__label-content--isao">Current Password</span>
						</label>
					</span>
					<br/>
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="npassword" type="password" />
						<label class="input__label input__label--isao" data-content="Type in a password">
							<span class="input__label-content input__label-content--isao">New Password</span>
						</label>
					</span>
					<br/>
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="npassword2" type="password" />
						<label class="input__label input__label--isao" data-content="Confirm the new password">
							<span class="input__label-content input__label-content--isao">Confirm Password</span>
						</label>
					</span>		
                </li>
            </ol>
			<br/><br/>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button class="btn btn-1 btn-1c" type="button" sy-action="updateUserPassword" sy-action-values="cpassword,npassword,npassword2">Update Password</button>
			</div>
			<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
				<button class="btn btn-1 btn-1c" type="button" sy-load="private/home">Back</button>
			</div>
        </form>
    </div>
</app>