<app sy-siteName="Login">
    <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1>Sign In</h1>
        </div>
        <form autocomplete="off" class="fs-form fs-form-full">
			<!-- Autofill fix -->
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
			<!-- Autofill fix end -->
            <ol class="fs-fields">
                <li class="fs-current">
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="username" type="text" value="demo" />
						<label class="input__label input__label--isao" data-content="Type in your username">
							<span class="input__label-content input__label-content--isao">Username</span>
						</label>
					</span><br/>			
					<span class="input input--isao">
						<input class="input__field input__field--isao" sy-min-max="3,6" name="password" type="password" value="demo" />
						<label class="input__label input__label--isao" data-content="Type in your password">
							<span class="input__label-content input__label-content--isao">Password</span>
						</label>
					</span>
                </li>
            </ol>
			<br/>
			<div class="button-container">
				<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
					<button class="btn btn-1 btn-1c" type="button" sy-action="login" sy-action-values="username,password">Sign In</button>
				</div>
				<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
					<button class="btn btn-1 btn-1c" type="button" sy-load="public/register">Create a new account</button>
				</div>
			</div>
			<syinclude page="public/github2"></syinclude>
        </form>
    </div>
</app>