<app sy-siteName="Login">
    <div id="trinity" class="trinity">

	  <div class="t-1 header" id="header">
		<div class="container">

		  <span class="t-3-o-2 hello">
			<img src="http://www.sonnyjs.org/demo/assets/img/logo.png" class="rotateIn animated">
			<h3>Your are on login.html</a></h3>
		  </span>
		</div>
      </div>

	  <div class="t-1 main zoomIn animated">
		<div class="container">

		<syinclude page="public/navigation"></syinclude>
		
		  <div class="t-1 more">
		  
			<div class="t-2">
			  <img src="http://lorempixel.com/g/500/500/cats/" alt="" />
			</div>

			<div class="t-2">
			
			  <p>Your are on login.html</p>
			
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>

			  <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, incidunt veritatis omnis sequi sint, tenetur quas ea atque et id tempore molestias architecto, vitae perferendis quae rem laborum eaque voluptas.</blockquote>

			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>
			</div>
			
		  </div>

		  <syinclude page="public/gallery"></syinclude>
		  
		</div>
	  </div>

	  <syinclude page="public/footer"></syinclude>

	</div>
</app>