<app siteName="Login">
    <div id="trinity" class="trinity">

	  <div class="t-1 header" id="header">
		<div class="container">

		  <span class="t-3-o-2 hello">
			<h3> <VAR %FIRST_WEBSITE% ></VAR> </h3>
			<img src="http://www.sonnyjs.org/demo/assets/img/logo.png" class="rotateIn animated">
			<h3><VAR %YOU_ARE_ON% ></VAR><VAR %LOGIN% ></VAR></h3>
		  </span>
		</div>
      </div>

	  <div class="t-1 main">
		<div class="container">

		<INCLUDE page="public/navigation"></INCLUDE>

		  <div class="t-1 more">

			<div class="t-2">
			  <img src="http://lorempixel.com/g/500/500/cats/" alt="" />
			</div>

			<div class="t-2">

			  <p>You are on login.html </p>
			
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>

			  <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, incidunt veritatis omnis sequi sint, tenetur quas ea atque et id tempore molestias architecto, vitae perferendis quae rem laborum eaque voluptas.</blockquote>

			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>
			</div>

		  </div>

		  <INCLUDE page="public/gallery"></INCLUDE>
		  
		</div>
	  </div>

	  <INCLUDE page="public/footer"></INCLUDE>

	</div>
</app>