<app siteName="Index">

  <script>
  document.title = 'Index';
  $('meta[name=description]').attr('content', 'description for index');
  $('meta[name=keywords]').attr('content', 'keywords, new, value, index');
  </script>

    <div class="container main">
      <div class="page-header">
        <h1>Example page header <small>Subtext for header</small></h1>

        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
      </div>
      <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>

      <h3><VAR %YOU_ARE_ON% ></VAR> index</h3>

hui

        <img src="http://i.imgur.com/9nu2DAf.jpg" style="max-width: 100%;">

        <p>You are on index.html </p>


        <p><big>РЎР РђРќР«Р™ РҐРЈР™</big><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>

        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, incidunt veritatis omnis sequi sint, tenetur quas ea atque et id tempore molestias architecto, vitae perferendis quae rem laborum eaque voluptas.</blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui labore, quod? Laboriosam veritatis vel, dolorum quidem rem tempora dolorem necessitatibus vero laudantium libero nobis repudiandae ea eum quaerat obcaecati perspiciatis!</p>

      <INCLUDE page="gallery"></INCLUDE>
    <INCLUDE page="footer"></INCLUDE>
  </div>

</app>
